<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>C++ Resource</title>
    <link rel="stylesheet" href="you.css">
</head>
<style>
  .container{
    margin:10px 20px 0 0;
}

.hey{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
</style>
<body class="cyou">
  
    <div>
      <h1>C++ Resources</h1>
    </div>

    
    <div class="hey">
    <div class="container">
        <iframe class="responsive-iframe" src="https://youtube.com/embed/7Dh73z3icd8"></iframe>
      </div>

      
    <div class="container">
        <iframe class="responsive-iframe" src="https://youtube.com/embed/Wa-kgmSLls4"></iframe>
      </div>

      
    <div class="container">
        <iframe class="responsive-iframe" src="https://youtube.com/embed/9xCskNFVt2c"></iframe>
      </div>


      
    <div class="container">
        <iframe class="responsive-iframe" src="https://youtube.com/embed/PrVOM7M5nEY"></iframe>
      </div>


      
    <div class="container">
        <iframe class="responsive-iframe" src="https://youtube.com/embed/EcUGDTs4RyY"></iframe>
      </div>


      
    <div class="container">
        <iframe class="responsive-iframe" src="https://youtube.com/embed/V4Wwuu05_t4"></iframe>
      </div>


      
    <div class="container">
        <iframe class="responsive-iframe" src="https://youtube.com/embed/c3Pd1xQlfWE"></iframe>
      </div>


      
    <div class="container">
        <iframe class="responsive-iframe" src="https://youtube.com/embed/XETsCR2bXJI"></iframe>
      </div>


      
    <div class="container">
        <iframe class="responsive-iframe" src="https://youtube.com/embed/D0ACZ0uU_2g"></iframe>
      </div>


      
    <div class="container">
        <iframe class="responsive-iframe" src="https://youtube.com/embed/E8weUIY2-iw"></iframe>
      </div>



      <div class="container">
        <iframe class="responsive-iframe" src="https://youtube.com/embed/Wa-kgmSLls4"></iframe>
      </div>

      
    <div class="container">
        <iframe class="responsive-iframe" src="https://youtube.com/embed/9xCskNFVt2c"></iframe>
      </div>

    </div>

</body>
</html>