<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Java-Script Resource</title>
    <link rel="stylesheet" href="you.css">
</head>
<body>
  <div>
    <h1>Java-Script Resources</h1>
  </div>
  <div class="hey">
    <div class="container">
        <iframe class="responsive-iframe" src="https://youtube.com/embed/ER9SspLe4Hg"></iframe>
      </div>

      
    <div class="container">
        <iframe class="responsive-iframe" src="https://youtube.com/embed/Q4p8vRQX8uY"></iframe>
      </div>

      
    <div class="container">
        <iframe class="responsive-iframe" src="https://youtube.com/embed/Icev9Oxf0WA"></iframe>
      </div>


      
    <div class="container">
        <iframe class="responsive-iframe" src="https://youtube.com/embed/qpU3WIqRz9I"></iframe>
      </div>


      
    <div class="container">
        <iframe class="responsive-iframe" src="https://youtube.com/embed/vA-AAeqkpxM"></iframe>
      </div>


      
    <div class="container">
        <iframe class="responsive-iframe" src="https://youtube.com/embed/W77qmqrhCcA"></iframe>
      </div>


      
    <div class="container">
        <iframe class="responsive-iframe" src="https://youtube.com/embed/Yafji9PB1lM"></iframe>
      </div>


      
    <div class="container">
        <iframe class="responsive-iframe" src="https://youtube.com/embed/XKyyM1VWtUE"></iframe>
      </div>


      
    <div class="container">
        <iframe class="responsive-iframe" src="https://youtube.com/embed/a_gwOwkbhZ0"></iframe>
      </div>


      
    <div class="container">
        <iframe class="responsive-iframe" src="https://youtube.com/embed/drEjyBSu33w"></iframe>
      </div>

      <div class="container">
        <iframe class="responsive-iframe" src="https://youtube.com/embed/Q4p8vRQX8uY"></iframe>
      </div>

      
    <div class="container">
        <iframe class="responsive-iframe" src="https://youtube.com/embed/Icev9Oxf0WA"></iframe>
      </div>

  </div>

</body>
</html>