<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Next.js Resources</title>
    <link rel="stylesheet" href="you.css">
</head>
<style>
  .container{
    margin:10px 20px 0 0;
}

.hey{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
</style>
<body>
  <div>
    <h1>Next.js Resources</h1>
  </div>
  <div class="hey">
    <div class="container">
        <iframe class="responsive-iframe" src="https://youtube.com/embed/DZKOunP-WLQ"></iframe>
      </div>

      
    <div class="container">
        <iframe class="responsive-iframe" src="https://youtube.com/embed/ne_h515wcv4"></iframe>
      </div>

      
    <div class="container">
        <iframe class="responsive-iframe" src="https://youtube.com/embed/zSxopWQF4cg"></iframe>
      </div>

      
    <div class="container">
        <iframe class="responsive-iframe" src="https://youtube.com/embed/5Dd6JHmyLEc"></iframe>
      </div>

      
    <div class="container">
        <iframe class="responsive-iframe" src="https://youtube.com/embed/9C5FS4bw4mM"></iframe>
      </div>

      
    <div class="container">
        <iframe class="responsive-iframe" src="https://youtube.com/embed/yvA5vQ6-B7w"></iframe>
      </div>

      
    <div class="container">
        <iframe class="responsive-iframe" src="https://youtube.com/embed/0oRZFuVZV3E"></iframe>
      </div>


      <div class="container">
        <iframe class="responsive-iframe" src="https://youtube.com/embed/dT4OExlRasA"></iframe>
      </div>


      <div class="container">
        <iframe class="responsive-iframe" src="https://youtube.com/embed/eLhlh2RZKRk"></iframe>
      </div>


      <div class="container">
        <iframe class="responsive-iframe" src="https://youtube.com/embed/32KkgR2xSLw"></iframe>
      </div>

      <div class="container">
        <iframe class="responsive-iframe" src="https://youtube.com/embed/ne_h515wcv4"></iframe>
      </div>

      
    <div class="container">
        <iframe class="responsive-iframe" src="https://youtube.com/embed/zSxopWQF4cg"></iframe>
      </div>
      </div>
</body>
</html>