<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PHP Resources</title>
    <link rel="stylesheet" href="you.css">
</head>
<style>
  .container{
    margin:10px 20px 0 0;
}

.hey{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
</style>
<body>
  <div>
    <h1>PHP Resources</h1>
  </div>
  <div class="hey">
    <div class="container">
        <iframe class="responsive-iframe" src="https://youtube.com/embed/at19OmH2Bg4"></iframe>
      </div>

      
    <div class="container">
        <iframe class="responsive-iframe" src="https://youtube.com/embed/PaDgry5QAt4"></iframe>
      </div>

      
    <div class="container">
        <iframe class="responsive-iframe" src="https://youtube.com/embed/4kFg2EqEIv8"></iframe>
      </div>

      
    <div class="container">
        <iframe class="responsive-iframe" src="https://youtube.com/embed/c1vbmGZLy9Y"></iframe>
      </div>

      
    <div class="container">
        <iframe class="responsive-iframe" src="https://youtube.com/embed/et5jScMSNXc"></iframe>
      </div>

      
    <div class="container">
        <iframe class="responsive-iframe" src="https://youtube.com/embed/Wr6R3nQfPts"></iframe>
      </div>

      
    <div class="container">
        <iframe class="responsive-iframe" src="https://youtube.com/embed/OxkPmOuxMyw"></iframe>
      </div>


      <div class="container">
        <iframe class="responsive-iframe" src="https://youtube.com/embed/mYnGMQS_fUg"></iframe>
      </div>


      <div class="container">
        <iframe class="responsive-iframe" src="https://youtube.com/embed/xLc70TTz88Q"></iframe>
      </div>


      <div class="container">
        <iframe class="responsive-iframe" src="https://youtube.com/embed/EBrUfyRO3Y0"></iframe>
      </div>

      <div class="container">
        <iframe class="responsive-iframe" src="https://youtube.com/embed/PaDgry5QAt4"></iframe>
      </div>

      
    <div class="container">
        <iframe class="responsive-iframe" src="https://youtube.com/embed/4kFg2EqEIv8"></iframe>
      </div>
  </div>
</body>
</html>