<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PHP Resources</title>
    <link rel="stylesheet" href="you.css">
</head>
<style>
  .container{
    margin:10px 20px 0 0;
}

.hey{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
</style>
<body>
  <div>
    <h1>React.js Resources</h1>
  </div>
  <div class="hey">
    <div class="container">
        <iframe class="responsive-iframe" src="https://youtube.com/embed/-mJFZp84TIY"></iframe>
      </div>

      
    <div class="container">
        <iframe class="responsive-iframe" src="https://youtube.com/embed/hnVOvvbQrwA"></iframe>
      </div>

      
    <div class="container">
        <iframe class="responsive-iframe" src="https://youtube.com/embed/kFe-RRaOy48"></iframe>
      </div>

      
    <div class="container">
        <iframe class="responsive-iframe" src="https://youtube.com/embed/JvC7aA24m4Q"></iframe>
      </div>

      
    <div class="container">
        <iframe class="responsive-iframe" src="https://youtube.com/embed/wa0IVAIqbo0"></iframe>
      </div>

      
    <div class="container">
        <iframe class="responsive-iframe" src="https://youtube.com/embed/xvm3X1oyTL8"></iframe>
      </div>

      
    <div class="container">
        <iframe class="responsive-iframe" src="https://youtube.com/embed/leBpCqU8wdg"></iframe>
      </div>


      <div class="container">
        <iframe class="responsive-iframe" src="https://youtube.com/embed/7BsjAdjx2Z0"></iframe>
      </div>


      <div class="container">
        <iframe class="responsive-iframe" src="https://youtube.com/embed/KislX1yzZOQ"></iframe>
      </div>


      <div class="container">
        <iframe class="responsive-iframe" src="https://youtube.com/embed/Sx2y4TjRZ9g"></iframe>
      </div>

      <div class="container">
        <iframe class="responsive-iframe" src="https://youtube.com/embed/-mJFZp84TIY"></iframe>
      </div>

      
    <div class="container">
        <iframe class="responsive-iframe" src="https://youtube.com/embed/hnVOvvbQrwA"></iframe>
      </div>
    </div>
</body>
</html>